.container {
  border: 1px solid green;
  width: 90%;
  margin: 10px 0;
  display: flex;
}

.container img {
  width: 200px;
}

.info {
  display: flex;
  padding: 10px;
  flex-direction: column;
}

.info h2 {
  font-size: 21px;
}

.infoBox {
  display: flex;
  align-items: center;
  font-size: 15px;
}
