.container {
  background-color: #2980b9;
  color: white;
  padding: 15px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 30px;
  font-weight: 700;
}

.option {
  font-weight: 500;
  font-size: 18px;
}
