.button {
  padding: 10px;
  border-radius: 3px;
  border: none;
  width: 150px;
  color: white;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  background-color: rgb(101, 147, 216);
  transition: all 0.3s;
}

.button:hover {
  transform: scale(1.03);
}
